.navbar {
  height: 70px;
  padding: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #0f172a;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}